<section class="row" data-ng-controller="AuthenticationController">
    <h3 ng-hide="language=='Ru'" class="col-md-12 text-center">Sign up using your social accounts</h3>
    <h3 ng-hide="language=='En'" class="col-md-12 text-center">Войдите через ваши социальные сети</h3>
    <div class="col-md-12 text-center">
        <a href="/auth/facebook" class="undecorated-link">
            <img src="/modules/users/img/buttons/facebook.png">
        </a>
        <a href="/auth/twitter" class="undecorated-link">
            <img src="/modules/users/img/buttons/twitter.png">
        </a>
        <a href="/auth/vkontakte" class="undecorated-link">
            <img style="width: 145px" src="/modules/users/img/buttons/vk.png">
        </a>
    </div>
    <h3 ng-hide="language=='Ru'" class="col-md-12 text-center">Or with your email</h3>
    <h3 ng-hide="language=='En'" class="col-md-12 text-center">Или через почту</h3>
    <div ng-hide="language=='Ru'" class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
        <form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
            <fieldset>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" required id="firstName" name="firstName" class="form-control"
                           data-ng-model="credentials.firstName" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" name="lastName" class="form-control"
                           data-ng-model="credentials.lastName" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email"
                           placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control"
                           data-ng-model="credentials.username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control"
                           data-ng-model="credentials.password" placeholder="Password">
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
                    <a href="/#!/signin" class="show-signup">Sign in</a>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
    <div ng-hide="language=='En'" class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
        <form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
            <fieldset>
                <div class="form-group">
                    <label for="firstName">Имя</label>
                    <input type="text" required id="firstName" name="firstName" class="form-control"
                           data-ng-model="credentials.firstName" placeholder="Имя">
                </div>
                <div class="form-group">
                    <label for="lastName">Фамилия</label>
                    <input type="text" id="lastName" name="lastName" class="form-control"
                           data-ng-model="credentials.lastName" placeholder="Фамилия">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email"
                           placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="username">Имя пользователя</label>
                    <input type="text" id="username" name="username" class="form-control"
                           data-ng-model="credentials.username" placeholder="Имя пользователя">
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password" class="form-control"
                           data-ng-model="credentials.password" placeholder="Пароль">
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-large btn-primary">Зарегестрироваться</button>&nbsp; или&nbsp;
                    <a href="/#!/signin" class="show-signup">Войти</a>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
