<section data-ng-controller="ArticlesController">
    <div class="page-header">
        <h1 ng-hide="language=='Ru'">New Article</h1>
        <h1 ng-hide="language=='En'">Новый Мануал</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label ng-hide="language=='Ru'" class="control-label" for="name">Name</label>
                    <label ng-hide="language=='En'" class="control-label" for="name">Название</label>
                    <div class="controls">
                        <input ng-hide="language=='Ru'" type="text" data-ng-model="name" id="name" class="form-control"
                               placeholder="Name"
                               required>
                        <input ng-hide="language=='En'" type="text" data-ng-model="name" id="name" class="form-control"
                               placeholder="Название"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label ng-hide="language=='Ru'" class="control-label" for="description">Description</label>
                    <label ng-hide="language=='En'" class="control-label" for="description">Описание</label>
                    <div class="controls">
                        <textarea ng-hide="language=='Ru'" name="description" data-ng-model="description"
                                  id="description" class="form-control"
                                  cols="30" rows="10" placeholder="Description"></textarea>
                        <textarea  ng-hide="language=='En'" name="description" data-ng-model="description" id="description" class="form-control"
                                  cols="30" rows="10" placeholder="Описание"></textarea>
                    </div>
                </div>

                <div align="right">
                    <strong><p ng-hide="language=='Ru'" style="width: fit-content" ng-mouseover="video=true;">Add
                        Video</p></strong>
                    <strong><p ng-hide="language=='En'" style="width: fit-content" ng-mouseover="video=true;">Добавить
                        видео</p></strong>
                </div>
                <div class="form-group" ng-show="video">
                    <label class="control-label" for="videoLink">Video</label>
                    <div class="controls">
                        <input ng-hide="frameT || language=='Ru'" type="text" data-ng-model="videoLink" id="videoLink"
                               class="form-control"
                               placeholder="Link"
                               pattern="/^.*(?:(?:youtu\.be\/|v\/|vi\/|u\/\w\/|embed\/)|(?:(?:watch)?\?v(?:i)?=|\&v(?:i)?=))([^#\&\?]*).*/">
                        <input ng-hide="frameT || language=='En'" type="text" data-ng-model="videoLink" id="videoLink"
                               class="form-control"
                               placeholder="Ссылка"
                               pattern="/^.*(?:(?:youtu\.be\/|v\/|vi\/|u\/\w\/|embed\/)|(?:(?:watch)?\?v(?:i)?=|\&v(?:i)?=))([^#\&\?]*).*/">
                    </div>

                    <input type="button" ng-hide="frameT||language=='En'" class="btn btn-default" value="Добавить"
                           data-ng-click="AddVideo(); frameT=true">
                    <input type="button" ng-hide="frameT||language=='Ru'" class="btn btn-default" value="Add"
                           data-ng-click="AddVideo(); frameT=true">
                    <iframe ng-show="frameT" id="frame" width="560" height="315" src="" frameborder="0"></iframe>

                </div>
                <div class="form-group">
                    <input ng-hide="language=='Ru'" type="submit" class="btn btn-default" value="Create">
                    <input ng-hide="language=='En'" type="submit" class="btn btn-default" value="Создать">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
