<section data-ng-controller="ArticlesController" data-ng-init="findOne();readVideoLink()">
	<div class="page-header">
		<h1 data-ng-bind="article.name"></h1>
		<p data-ng-bind="article.description"></p>
		<p data-ng-bind="article.username"></p>
		<p data-ng-bind="article.created|date:'dd-MM-yyyy HH:mm'"></p>
		<iframe ng-hide="!article.validLink"  id="frame" width="560" height="315" src="" frameborder="0"></iframe>
	</div>
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/articles/{{article._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>
