<section ng-mouseup="updateUserProfile(userForm.$valid)" class="row" data-ng-controller="UsersController" ng-init="findOne()">
    <h1 ng-hide="language=='En'" class="col-md-12 text-center">Cтраница {{user.username}}</h1>
    <h1 ng-hide="language=='Ru'" class="col-md-12 text-center">{{user.username}} profile</h1>
    <h4>
        <table align="center">
            <tr>
                <div align="center" class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
                    <form name="userForm" class="signin form-horizontal" autocomplete="off">

                        <fieldset>

                            <table ng-hide="language=='En'" class="table table-hover">

                                <tr>
                                    <td style="min-width:300px;"></td>
                                    <td style="min-width:150px;">Имя</td>
                                    <td contenteditable ng-model="user.firstName"></td>
                                    <td style="min-width:250px;"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Фамилия</td>
                                    <td contenteditable ng-model="user.lastName"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Почта</td>
                                    <td contenteditable ng-model="user.email"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Имя пользователя</td>
                                    <td contenteditable ng-model="user.username"></td>
                                    <td></td>
                                </tr>

                            </table>
                            <table ng-hide="language=='Ru'" class="table table-hover">

                                <tr>
                                    <td style="min-width:300px;"></td>
                                    <td style="min-width:150px;">First Name</td>
                                    <td contenteditable ng-model="user.firstName"></td>
                                    <td style="min-width:250px;"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Last Name</td>
                                    <td contenteditable ng-model="user.lastName"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Email</td>
                                    <td contenteditable ng-model="user.email"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Username</td>
                                    <td contenteditable ng-model="user.username"></td>
                                    <td></td>
                                </tr>

                            </table>
                        </fieldset>

                    </form>
                </div>
            </tr>
        </table>
    </h4>
    <section data-ng-controller="ArticlesController" data-ng-init="find()">
        <div ng-hide="language=='En'" class="page-header">
            <h1>Мануалы <a class="btn btn-primary " href="/#!/articles/create">Новый Мануал</a></h1>
        </div>
        <div ng-hide="language=='Ru'" class="page-header">
            <h1>Articles <a class="btn btn-primary " href="/#!/articles/create">New Article</a></h1>
        </div>
        <!-- this is the new search input field -->
        <div ng-hide="language=='En'" class="form-group">
            <input type="text" ng-model="search"
                   typeahead="article as article.name for article in articles | filter:$viewValue | limitTo:8"
                   class="form-control" typeahead-on-select="articleSearch($item)" placeholder="Поиск Мануала...">
        </div>
        <div ng-hide="language=='Ru'" class="form-group">
            <input type="text" ng-model="search"
                   typeahead="article as article.name for article in articles | filter:$viewValue | limitTo:8"
                   class="form-control" typeahead-on-select="articleSearch($item)" placeholder="Search Article...">
        </div>
        <!-- end -->
        <div class="list-group">
            <a data-ng-repeat="article in articles | filter:{user:user._id}:true|orderBy:'created':true"
               data-ng-href="#!/articles/{{article._id}}" class="list-group-item">
                <h4 class="list-group-item-heading" data-ng-bind="article.name"></h4>
                <span data-ng-bind="article.description"></span>
                <span data-ng-bind="article.user.username"></span>
                <p data-ng-bind="article.created|date:'dd-MM-yyyy HH:mm'"></p>
            </a>
        </div>
        <!-- this is the paging control -->
        <!--<pagination total-items="articles.length" ng-model="currentPage" ng-change="pageChanged()" max-size="pageSize" ng-show="articles.length > pageSize"></pagination>-->
        <!-- end -->
        <div class="alert alert-warning text-center" data-ng-hide="!articles.$resolved || articles.length">
            No articles yet, why don't you <a href="/#!/articles/create">create one</a>?
        </div>
    </section>
</section>
